@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{
    padding: 0;
    margin: 0;
}
.lecture-box{
    margin-left: 4rem;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content:start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(197, 233, 197);
    /* border: 1px solid black; */
    background-color: rgb(244, 255, 240);
}
.lecture-info{
    width: 100%;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 0.5em ;
    background-color: black;
    color: white;
    
}
.lecture-title{
    font-family: 'Special Elite', cursive;
    margin-right: 0.5rem;
    font-size: 20px;
}
.lecture-no{
    margin-left: 0.5rem;
    font-size: 20px;
}
.lecture-video-box{
    margin: 1rem;
    height: 400px;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
}
.lecture-video{
    overflow: hidden;
    width: 100%;
    min-width: 200px;
    margin: 0px;
}
.lecture-study-material{
    width: 80%;
}
.study-material-files-list{
   list-style: none;
   display: flex;
   align-items: center;
   flex-direction: column;
   /* border: 1px solid saddlebrown; */
   width: 100%;
}
.lecture-study-material p{
    margin: 1rem;
    margin-bottom: 0.6;
    font-size: 29px;
    color: rgb(112, 67, 19);
    font-family: 'Special Elite', cursive;
}

.file-item {
    font-family: 'Special Elite', cursive;
    padding: 0.2rem;
    margin: 0.2rem;
    background-color: black;
    width: 100%;
    color: white;
}
.navbar{
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    border: 2px solid rgb(117, 67, 67);
}

.navbar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .navbar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  .navbar .logo-details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .navbar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 40px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .navbar .logo-details #btnnav{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 40px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .navbar.open .logo-details #btn{
    text-align: right;
  }
  .navbar.open .logo-details #btnnav{
    text-align: right;
  }
  .sidebar.open{
      left: 0%;
  }
  .lecture-box, .navbar{
      min-width: 350px;
  }
  .navbar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }

@media (min-width:721px) {
    .navbar{
        display: none;
    }
}
@media (max-width:720px) {
    .sidebar{
        /* display: none; */
        left: -100%;
    }
    .main{
        margin:0;
    }
    .lecture-box{
        margin: 0% 2%;
        width: 96%;
    }
}
